/.raku-version
/.precomp/
/rakuast-rakudoc-render.iml
/tmp/

/rakudociem-ipsum.rakudoc.text
/lib/.precomp/
/xt/.precomp/
/rakudociem-ipsum.rakudoc
/wget-log
/resources/compliance-rendering/rakudociem-ipsum.rakudoc
/test.rakudoc
/test.rakudoc.text
