
span.basis {
	font-weight: 800;
}
span.important {
	font-style: italic;
}
span.unusual {
	text-decoration: underline;
}
span.code {
	font-weight: 500;
	background-color: linen;
	display:inline-block;
	margin: 2px;
	padding: 2px;
}
span.overstrike {
	text-decoration: line-through;
}
span.high {
	vertical-align: super;
}
span.junior {
	vertical-align: sub;
}
span.replace {
	font-style: small-caps;
	text-shadow: -1px 1px;
}
span.indexed {
	text-shadow: 1px 1px orange;
}
span.index-entry {
	text-shadow: 1px 1px orange;
}
span.keyboard {
	text-shadow: 1px 1px;
}
span.terminal {
	text-decoration: overline underline;
}
span.footnote {
	vertical-align: super;
}
span.developer-text {

}
span.developer-version {
    display: none;
	color: red;
    span.developer-note {
        font-family: 'Brush Script MT', cursive;
    }
    &:hover {
        display: inline-block;
        transform: translate(50px, 100px);
        z-index: 5;
    }
}
span.bad-markdown {
	text-shadow: 1px 1px red;
}

pre.code-block {
	background-color: #eee;
	margin: 1rem;
	padding: 0 1rem 1rem 1rem;
}
pre.input-block {
	background-color: #eee;
	margin: 1rem;
	padding: 0 1rem 1rem 1rem;
	&::before {
	    content: '--- input ---';
        display: block;
        text-shadow: -2px -2px 4px black;
        color: white;
        padding-bottom: 1rem;
	}
}
pre.output-block {
	background-color: #eee;
	margin: 1rem;
	padding: 0 1rem 1rem 1rem;
	&::before {
        content: '--- output ---';
        display: block;
        text-shadow: 2px 2px 4px black;
        color: white;
        padding-bottom: 1rem;
	}
}

div.defn-text {
    margin-left: 1rem;
}
div.defn-term {
	font-weight: bold;
}
div.id-target {
	display: none;
}
div.nested {
	margin-left: 5rem;
}
div.footer {
	
}
div.footer-field {
	
}
div.toc {
	
}
h1.toc-caption {
}
div.ul toc-list {
	
}
div.index-section {
    margin-left: calc(var(--level) * 1rem);
	> a.index-ref {
	    white-space: nowrap;
	    display:inline-block;
	    width: 5em;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    + span {
	        display: none;
	        width: 0;
	    }
	    &:hover+span {
	        display: inline-block;
	        position: absolute;
	        width: auto;
	        z-index: 5;
	        background-color: seashell;
	        transform: translate(-5em,-1em);
	    }
	}
}
h2.index-caption {
}
span.developer-note {
    display: none;
    width: 0;
    color: blue;
    text-shadow: 2px 2px 5px green;
}
span.developer-version {
    display: none;
    width: 0;
    color: red;
    text-shadow: 2px 2px 5px green;
}
.delta, span.developer-text {
    &::before {
        content: "\2139";
        vertical-align: super;
	}
	&:hover .developer-version {
	    display: inline-block;
        position: absolute;
        width: 100%;
        z-index: 5;
        transform: translate(0.5rem,-1rem);
	}
	&:hover .developer-note {
	    display: inline-block;
        position: absolute;
        width: auto;
        z-index: 5;
        margin-left: 1rem;
	}
}
span.developer-text:hover {
    text-decoration: overline;
}

div.footnotes {
	
}
div.footnote {
	
}
div.warnings {
	
}
div.footer {
    border-top: 2px dashed;
    margin: 1rem 0;
    padding: 2rem;
    .footer-field {
        display:inline-block;
    }
    .footer-line {
        display: block;
    }
}
h2.warnings-caption {
}

.heading > a {
	color: maroon;
	text-decoration: none;
}
h.title {
	font-size: larger;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}
.procedural-cell-left {
	text-align: left;
}
.procedural-cell-centre {
	text-align: center;
}
.procedural-cell-center {
	text-align: center;
}
.procedural-cell-right {
	text-align: right;
}
.procedural-cell-top {
	vertical-align: text-top;
}
.procedural-cell-middle {
	vertical-align: baseline;
}
.procedural-cell-bottom {
	vertical-align: text-bottom;
}
.procedural-cell-label {
	font-weight: bold;
}
li.item {
    padding-left: 0.4rem;
    margin-left: calc(var(--level) * 1rem);
    &::marker {
        content: attr(data-bullet);
    }
}